@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Sofia+Sans+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.header{
    font-family: 'Aclonica', sans-serif;
    font-style: normal;
    font-weight: 400;
}