@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    width: 100%;
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* align-items: center; */
}

.imageContainer {
    width: 96%;
    height: 200px;
    margin-top: 27px;
    padding-left: 10px;
}

.productCarousel {
    max-width: 100%;
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    /* align-items: center; */
}

@media screen and (min-width:768px) {

    .imageContainer {
        width: 100vw;
        height: 90vh;
        padding-left: 0px;
        margin-top: 0px;
    }

}