@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Sofia+Sans+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-[Aclonica];
    }
}

/* .header-hi {
    font-family: 'Aclonica', sans-serif;
} */


.errorContainer {
    height: 1.5rem;
    display: flex;
    align-items: center;
}

.errorMsg {
    max-width: 350px;
    color: red;
    font-size: 14px;
    font-weight: 300;
}